    <main class="cover">
        <div class="container">
            <!-- ジャンボトロンの背景が先にくる、、、 -->
            <div class="jumbotron">
                <div class="">
                    <h1 class="display-3 font-weight-bold mt-5 mb-4">TweetApp</h1>
                    <p class="lead">TweetAppはPonko2がProgateでRuby on Railsを学んだ直後に作成した</p>
                    <p class="lead">ポートフォリオ用のサンプルアプリケーションです。</p>
                </div>
            </div>
        </div>
    </main>