  <div class="container">

    <%# 1投稿毎に縦に並べる%>

    <div class="d-flex flex-column align-items-left ml-5 mt-5">

      <% @posts.each do |post| %>
      <%# 画像を左に、投稿を右に並べる%>
      <div class="d-flex flex-row align-items-center border">
        <div class="m-2">
          <%= link_to(image_tag("/user_images/#{post.user.image_name}", class: "rounded-circle img-thumbnail", style: "object-fit: cover; width: 50px ; height: 50px"),"/users/#{post.user.id}") %>
        </div>
        <div class="d-flex flex-column justify-content-start">
          <div class="d-flex flex-row align-items-end">
            <div><b><%= link_to(post.user.name,"/users/#{post.user.id}", class: 'bold mr-2 text-dark') %></b>
            </div>
            <div class="small text-muted">
              <<%= l post.created_at , format: :short %>>
            </div>
          </div>
          <div>
            <%= link_to(post.content,"/posts/#{post.id}", class: 'text-dark') %>
          </div>
        </div>

      </div>
      <% end %>
    </div>
  </div>
</div>