<div class="main posts-new">
  <div class="container">
    <div class="d-flex flex-row justify-content-center mt-5">
      <div class="post_form">
        <h1 class="h3 mb-4 font-weight-normal">投稿する</h1>

        <%= form_tag("/posts/create") do %>
        <textarea name="content"  style="width:400px">
          <%= @post.content%>
        </textarea>

        <!-- ここからフラッシュ -->
        <% @post.errors.full_messages.each do |message| %>
        <div class="text-danger small" style="width:400px">
          <%= message %>
        </div>
        <% end%>
        <!-- ここまでフラッシュ -->
        <div class="d-flex flex-row justify-content-end">
        <input type="submit" value="投稿" class="btn btn-sm btn-primary btn-block mt-3"  style="width:150px">
        <div>
        <% end %>





      </div>
    </div>
  </div>
</div>
